@import "/../../index.less";

.vehicle-menu {
  width: 180px;

  .hoverable-active {
    &:hover {
      background-color: rgba(128, 128, 128, 0.35);
    }
  }

  .ui-accordion-header {
    .inactive;
    .hoverable;
    border-top: 2px solid black;
    height: 29px;

    &.ui-state-active {
      opacity: 1;
      .hoverable-active;
    }

    span.fa {
      display: none;
    }

    a {
      color: black;
      text-decoration: none;
      cursor: default
    }
  }

  .ui-accordion-content-wrapper {
    overflow: hidden;

    .child-item {
      .hoverable-active;
      padding-top: 10px;

      &.text {
        padding: 0;
      }

      span {
        cursor: default
      }
    }
  }
}