<p-accordion>
    <p-accordionTab *ngFor="let menuItem of menuItems" [header]="menuItem.header">
        <div *ngFor="let childItem of menuItem.childItems" class="child-item"
             (click)="action(menuItem, childItem)"
             [ngClass]="{'inactive': !isActive(childItem), 'text': !childItem.icon}"
             [style.padding-left]="childItem.indentPx + 'px'">
            <img [src]="childItem.icon" *ngIf="childItem.icon">
            <span *ngIf="childItem.header">{{childItem.header}}</span>
        </div>
    </p-accordionTab>
</p-accordion>