@import "../index.less";

.vehicle-editor {
  .fill;

  .panels {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;

    .vertical-panel {
      .fill-vertical;
      width: 300px;
      background-color: rgba(255, 255,255, 0.65);

      &.left {
        .logo {
          padding: 5% 0;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        .vehicle-menu {
          margin-top: 2.5%;
        }
      }

      &.right {
        display: flex;
        width: 260px;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 10px 0 8px;

        .logout {
          width: 100%;
          margin-top: 7px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          border-bottom: 3px solid black;
          height: 47px;
          margin-bottom: 5px;

          img {
            width: 40px;
          }
        }

        .company-logo {
          padding-left: 10px;
        }

        .order {
          position: absolute;
          bottom: 10px;
          right: 20px;
          font-size: 40px;
        }
      }
    }

    .absolute-position-center {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .free-camera {
      .absolute-position-center;
      top: 5%;
      width: 67px;
      padding: 9px;
    }

    .bottom-panel {
      .absolute-position-center;
      bottom: 0;
      width: 717px;
      display: flex;
      flex-direction: column;
      .label {
        padding-right: 5px;
      }
    }

    @media screen and (max-width: 717px) {
      .bottom-panel {
        width: 600px;
      }
    }

    @media screen and (max-width: 600px) {
      // TODO If we have this screen size we need to do something with right panel
      .bottom-panel {
        width: 500px;
      }
    }
  }
}