<div class="vehicle-view fill"></div>
<div class="panels">
    <div class="vertical-panel left">
        <img class="logo" src="../assets/img/logo.png">
        <div class="vehicle-menu"></div>
    </div>
    <div class="vertical-panel right">
        <div *ngIf="isLoggedIn()" class="logout" (click)="logout()">
            <span>{{'user: ' + getUserName()}}</span>
            <img src="../assets/img/logout.png">
        </div>
        <span class="inactive">Fluxmodifikator DEMO 0.9</span>
        <span class="inactive">powered by<img class="company-logo" src="../assets/img/vis-circle.png"></span>
        <div class="vehicle-toolbar"></div>
        <div class="order">Bestellen</div>
    </div>
    <img class="free-camera inactive hoverable" src="../assets/img/vehicle-editor/free_camera.png">
    <div class="bottom-panel">
        <div class="vehicle-header">
            <span class="left"><span class="label gray">Model Name:</span> Sofia I</span>
            <span class="right"><span class="label gray">Designed by:</span> Fluxmann</span>
        </div>
        <div class="vehicle-palette"></div>
    </div>
</div>
