.vehicle-palette {
  height: 87px;
  background-color: #E6E7E9;
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .caption {
    text-align: center;
    margin-left: 11px;

    hr {
      margin: 0;
    }

    span {
      width: 100%;
    }
  }

  .color-button {
    width: 54px;
    height: 54px;
    border-radius: 14px;
    margin-left: 5px;

    &:hover {
      box-shadow: inset 0 0 0 0 gray, 0 0 0 2px gray;
      -webkit-box-shadow: inset 0 0 0 0 gray, 0 0 0 2px gray;
      -moz-box-shadow: inset 0 0 0 0 gray, 0 0 0 2px gray;
    }

    &.selected {
      margin-bottom: 10px;
    }
  }

  .shadow {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    margin-left: 0;
    background: transparent;

    &.black {
      background: -moz-linear-gradient(-55deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 35%, rgba(0, 0, 0, 0.1) 65%,
      rgba(0, 0, 0, 0.15) 72%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.8) 95%, rgba(0, 0, 0, 1) 100%);
      background: -webkit-linear-gradient(-55deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 35%, rgba(0, 0, 0, 0.1) 65%,
      rgba(0, 0, 0, 0.15) 72%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.8) 95%, rgba(0, 0, 0, 1) 100%);
      background: linear-gradient(145deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 35%, rgba(0, 0, 0, 0.1) 65%,
      rgba(0, 0, 0, 0.15) 72%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.8) 95%, rgba(0, 0, 0, 1) 100%);
    }

    &.white {
      background: -moz-linear-gradient(-55deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 35%,
      rgba(255, 255, 255, 0.1) 65%, rgba(255, 255, 255, 0.15) 72%, rgba(255, 255, 255, 0.3) 80%,
      rgba(255, 255, 255, 0.8) 95%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-linear-gradient(-55deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 35%,
      rgba(255, 255, 255, 0.1) 65%, rgba(255, 255, 255, 0.15) 72%, rgba(255, 255, 255, 0.3) 80%,
      rgba(255, 255, 255, 0.8) 95%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(145deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 35%,
      rgba(255, 255, 255, 0.1) 65%, rgba(255, 255, 255, 0.15) 72%, rgba(255, 255, 255, 0.3) 80%,
      rgba(255, 255, 255, 0.8) 95%, rgba(255, 255, 255, 1) 100%);
    }
  }
}