<div class="caption">
    <span>Karosserie</span>
    <hr>
    <span class="gray">Chassis</span>
</div>
<div *ngFor="let colorButton of colorButtons" class="color-button transition-all" (click)="select(colorButton.color)"
     [ngClass]="{'selected': colorButton.color === selectedColor}"
     [style.background-color]="colorButton.color">
    <div class="shadow" [ngClass]="{'white': colorButton.shadow === SHADOW_TYPE.WHITE,
    'black': colorButton.shadow === SHADOW_TYPE.BLACK}"></div>
</div>