//@import "~primeng/resources/primeng.min.css";

@font-face {
  font-family: TTFirs;
  src: url(./assets/fonts/TTFirs-Bold.woff);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: TTFirs;
  src: url(./assets/fonts/TTFirs-Regular.woff);
  font-style: normal;
  font-weight: normal;
}

html, body {
  .fill;
  font-family: "TTFirs", Georgia;
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.fill-vertical {
  min-height: 100%;
  height: 100%;
}

.fill {
  .fill-vertical;
  min-width: 100%;
  width: 100%;
}

.gray {
  color: gray;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inactive {
  opacity: 0.5;
}

.hoverable {
  &:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }
}

.transition-all {
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  .fill;

  img {
    width: 45px;
    padding-right: 5px;
  }
}